alabaster==0.7.12
appdirs==1.4.4
asgiref==3.4.1
astor==0.8.1
atomicwrites==1.4.0
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
awsebcli==3.20.3
Babel==2.9.1
backports.entry-points-selectable==1.1.0
bandit==1.7.4
blinker==1.4
botocore==1.23.54
Brotli==1.0.9
cement==2.8.2
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.3
constantly==15.1.0
coverage==5.5
cryptography==36.0.0
daphne==3.0.2
darglint==1.8.1
distlib==0.3.3
Django==3.2.9
django-environ==0.8.1
django-jsonfield==1.4.1
django-phonenumber-field==6.1.0
docutils==0.17.1
eradicate==1.0
filelock==3.3.2
flake8==3.9.2
flake8-bandit==2.1.2
flake8-broken-line==0.2.1
flake8-bugbear==19.8.0
flake8-commas==2.1.0
flake8-comprehensions==3.8.0
flake8-debugger==3.2.1
flake8-docstrings==1.6.0
flake8-eradicate==0.3.0
flake8-isort==3.0.1
flake8-polyfill==1.0.2
flake8-quotes==2.1.2
flake8-rst-docstrings==0.0.12
flake8-string-format==0.2.3
Flask==2.0.3
future==0.16.0
gitdb==4.0.9
GitPython==3.1.27
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.3
imagesize==1.3.0
incremental==21.3.0
iniconfig==1.1.1
isort==4.3.21
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==0.10.0
kaitaistruct==0.9
ldap3==2.9.1
MarkupSafe==2.1.1
mccabe==0.6.1
mitmproxy==8.0.0
msgpack==1.0.3
mypy-extensions==0.4.3
mysql-connector-python==8.0.27
packaging==21.3
passlib==1.7.4
pathspec==0.9.0
pbr==5.7.0
pep8-naming==0.9.1
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.19.1
psutil==5.9.0
publicsuffix2==2.20191221
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.21
pydivert==2.1.0
pydocstyle==5.1.1
pyflakes==2.3.1
Pygments==2.11.2
pyOpenSSL==21.0.0
pyparsing==3.0.8
pyperclip==1.8.2
pypiwin32==223
pytest==6.2.5
pytest-cov==2.12.1
python-dateutil==2.8.2
pytz==2021.3
pyupgrade==2.32.0
pywin32==304
PyYAML==5.4.1
regex==2022.3.15
requests==2.26.0
restructuredtext-lint==1.4.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
semantic-version==2.8.5
service-identity==21.1.0
six==1.14.0
smmap==5.0.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==2.4.5
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
stevedore==3.5.0
termcolor==1.1.0
testfixtures==6.18.5
tokenize-rt==4.2.1
toml==0.10.2
tornado==6.1
tox==3.25.0
tox-travis==0.12
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typed-ast==1.5.2
typing-extensions==3.10.0.2
urllib3==1.26.9
urwid==2.1.2
virtualenv==20.10.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.1.9
wemake-python-styleguide==0.14.1
Werkzeug==2.1.1
wsproto==1.1.0
zope.interface==5.4.0
zstandard==0.17.0
