{% extends 'manager/account_layout.html' %}
{% load humanize %}
{% block body %}
<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="zmdi zmdi-home"></i> {{site_name}}</a></li>
                        <li class="breadcrumb-item active">Dashboard </li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon traffic">
                        <div class="body">
                            <h6>Users</h6>
                            <h2>{{users_count|intcomma}}<small class="info"></small></h2>
                            <small>2% higher than last month</small>
                            <div class="progress">
                                <div class="progress-bar l-amber" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon sales">
                        <div class="body">
                            <h6>Cancelled pickups</h6>
                            <h2>{{cancelled_orders|intcomma}}<small class="info"></small></h2>
                            <small>6% higher than last month</small>
                            <div class="progress">
                                <div class="progress-bar l-blue" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon email">
                        <div class="body">
                            <h6>Completed orders</h6>
                            <h2>{{completed_orders|intcomma}}<small class="info"></small></h2>
                            <small>Total orders completed</small>
                            <div class="progress">
                                <div class="progress-bar l-purple" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width: 39%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon domains">
                        <div class="body">
                            <h6>Orders</h6>
                            <h2>{{orders_count|intcomma}}<small class="info"></small></h2>
                            <small>Total Registered Domain</small>
                            <div class="progress">
                                <div class="progress-bar l-green" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4><strong>|Recent</strong> orders</h4>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                             <table class="table table-bordered table-striped table-hover dataTable js-exportable  c_table theme-color ">
                                <thead>
                                    <tr>                                       
                                        <th>#</th>
                                        <th>id</th>
                                        <th>Load</th>
                                        <th>Status</th>
                                        <th>Date</th>                                        
                                        <th>Pierpass</th>
                                        <th>MBL</th>
                                        <th>HBL</th>
                                        <th>Customer</th>
                                        <th>Container</th>
                                        <th>Type</th>
                                        <th>Seal</th>
                                        <th>Drop city</th>
                                        <th>Discharge</th>
                                        <th>Port ETA</th>
                                        <th>LFD</th>
                                        <th>Trucking</th>
                                        <th>East deliver</th>
                                        <th>Appointment</th>
                                        <th>Actual deliver</th>
                                        <th>Driver</th>
                                        <th>Empty return </th>
                                        <th>Chassis</th>
                                        <th>Demurrage</th>
                                        <th>Invoice sent</th>
                                        <th>Invoice</th>
                                        <th>Invoice $</th>
                                        <th>A/R</th>
                                        <th>A/P</th>
                                        <th>Customer email</th>
                                        <th>Notify</th>
                                        <th>Acct email</th>
                                        <th>Created on</th>
                                        <th>File</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% if orders %}
                                     {% for item in orders %}
                                     <tr id="id_{{item.id}}">
                                        <td>{{forloop.counter}}.</td>
                                        <td>{% if item.intentifier %}#{{item.intentifier}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.load %}{{item.load}}{% else %} No data {% endif %}</td>
                                        <td>
                                            {% if item.status %}
                                                {% if item.status == 'cancelled_pickup' %}
                                                    <div class="p-2 badge badge-danger">{{item.status}}</div>
                                                {% elif item.status == 'on_ship' %}
                                                    <div class="p-2 badge badge-info">{{item.status}}</div>
                                                {% elif item.status == 'invoice_sent' %}
                                                    <div class="p-2 badge badge-success">{{item.status}}</div>
                                                {% elif item.status == 'closed_area' %}
                                                    <div class="p-2 badge badge-danger">{{item.status}}</div>
                                                {% elif item.status == 'assigned_driver' %}
                                                    <div class="p-2 badge badge-info">{{item.status}}</div>
                                                {% elif item.status == 'delivered' %}
                                                    <div class="p-2 badge badge-success">{{item.status}}</div>
                                                {% else %}
                                                    <div class="p-2 badge badge-info">{{item.status}}</div>
                                                {% endif %}
                                            {% else %} 
                                                No data 
                                            {% endif %}
                                        </td>
                                        <td>{% if item.date %}{{item.date|timesince}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.pierpass %}{{item.pierpass}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.mbl %}{{item.mbl}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.hbl %}{{item.hbl}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.customer %}{{item.customer}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.container %}{{item.container}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.type %}{{item.type}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.seal %}{{item.seal}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.drop_city %}{{item.drop_city}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.discharge_port %}{{item.discharge_port}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.port_eta %}{{item.port_eta }}{% else %} No data {% endif %}</td>
                                        <td>{% if item.lfd %}{{item.lfd}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.trucking %}{{item.trucking}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.east_deliver %}{{item.east_deliver}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.appointment %}{{item.appoitment}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.actual_deliver %}{{item.actual_deliver}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.driver %}{{item.driver}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.empty_return %}{{item.empty_return}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.chasis %}{{item.chasis}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.demurrage %}{{item.demurrage}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.invoice_sent %}{{item.invoice_sent}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.invoice %}{{item.invoice}{% else %} No data {% endif %}</td>
                                        <td>{% if item.invoice_dolla %}{{item.invoice_dolla}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.a_rrry %}{{item.a_rrry}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.a_ppy %}{{item.a_ppy}{% else %} No data {% endif %}</td>
                                        <td>{% if item.customer_email %}{{item.customer_email}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.notify %}{{item.notify }}{% else %} No data {% endif %}</td>
                                        <td>{% if item.acct_email %}{{item.acct_email}}{% else %} No data {% endif %}</td>
                                        <td>{% if item.created_at %}{{item.created_at}}{% else %} No data {% endif %}</td>
                                         <td>
                                            {% if item.media %}
                                                <a href="{{item.media.url}}" data-toggle="tooltip" title="View file" class="btn btn-info btn-icon "><i class="zmdi zmdi-eye"></i></a> |
                                                <a  href="{{item.media.url}}" data-toggle="tooltip" title="Download file" class="btn btn-outline-success  btn-icon" download><i class="zmdi zmdi-download"></i></a>
                                            {% else %}
                                                No file found
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if data.extendedauthuser.role != 'tertiary' %}
                                                <a href="{% url 'edit order' id=item.id %}" data-toggle="tooltip" title="Edit order item" class="btn btn-primary btn-icon " type="button"><i class="zmdi zmdi-edit"></i></a>
                                                <a data-host="{% url 'order summary' %}" href="{% url 'delete single order item' id=item.id %}" data-toggle="tooltip" title="Delete order item" class="del-data btn btn-danger btn-icon" type="button"><i class="zmdi zmdi-delete"></i></a>
                                            {% else %}
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit order item" class="btn btn-primary btn-icon " type="button"><i class="zmdi zmdi-edit"></i></a>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete order item" class="zbtn btn-danger btn-icon" type="button"><i class="zmdi zmdi-delete"></i></a>
                                            {% endif %}
                                        </td>
                                     </tr>
                                     {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="32">
                                            <p class="text-info"><i class="zmdi zmdi-alert-triangle"></i> No order item(s) found.</p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}